@font-face {
	font-family: Title;
	src: url(Chunkfive.ttf);
}

.Titolo{          /*Questo stile verrà usato per il titolo della pagina iniziale*/
	color: #ff8029;
	text-align: center;
	font-family: Title;
	font-size: 600%;
	margin:0;
}

.TitoloParte2{     /*Questo stile verrà usato per il titolo delle soluzioni*/
	color: #ff8029;
	text-align: center;
	font-family: Title;
	font-size: 315%;
	margin:0;
}
.TestoSinistra{   /*Questo stile viene utilizzato per incolonnare il testo a sinistra nel caso in cui
                      vogliamo dividerlo in due colonne*/
	color: black;
	width: 46%;
	text-align:justify;
	font-family: Arial;
	font-size:170%;
	float: left;
	margin-left: 2.5%
}

.TestoSinistra2{   /*Questo stile viene utilizzato per incolonnare il testo a sinistra nel caso in cui
                      vogliamo dividerlo in due colonne*/
	color: black;
	width: 45%;
	text-align:justify;
	font-family: Arial;
	font-size:170%;
	float: left;
	margin-left: 2.5%;
}

.TestoDestra{/*Questo stile viene utilizzato per incolonnare il testo a destra nel caso in cui
                      vogliamo dividerlo in due colonne*/
    color: black;
	width: 46%;
	text-align:justify;
	font-family: Arial;
	font-size:170%;
	float: right;
	margin-right: 2.5%;
}

.TestoDestra2{   /*Questo stile viene utilizzato per incolonnare il testo a destra nel caso in cui
                      vogliamo dividerlo in due colonne*/
	color: black;
	width: 45%;
	text-align:justify;
	font-family: Arial;
	font-size:170%;
	float: right;
	margin-right: 2.5%;
}

.Ipertesto1{
	color: black;
	font-family: Arial;
	text-align: justify;
	font-size: 120%;
	width: 45%;
	float: left;
	margin-left: 2.5%;
}

.Ipertesto2{
	color: black;
	font-family: Arial;
	text-align: justify;
	font-size: 120%;
	width: 45%;
	float: right;
	margin-right: 2.5%;
}

.Soluzione{
	color: black;
	font-family: Arial;
}

.BloccoDiDestra{   /*Questo stile viene utilizzato per mettere la freccia di passaggio alla pagine delle soluzioni*/
	position: relative;
	text-align: right;
}

.Bottoni{
    position: relative;
	vertical-align: center;
}

aside {
	float: left;
	width: 50%;
}

section {
	text-align: right;
	padding-right: 10%;
	margin-right: 100px;
	font-family: arial;
	width: 40%;
	height: 875px;
	display: table-cell;
  vertical-align: bottom;
}

article {
	font-size: 24px;
	
}

img, html, body{
	margin: 0;
	padding: 0;
	border: 0;
}

.linkpannelli{
	display: inline-block;
	border: none;
	border-radius: 4px;
	font-family: Trebuchet MS;
	padding-left: 50px;
}

.imgbottoni{

	width: 10vw;
	height: 10vw;
}
