@font-face {
  font-family: Title;
  src: url(Chunkfive.ttf);
}

.Titolo {
  color: #ff8029;
	font-family: Title;
	font-size: 600%;
	margin:0;
}

.Titolo2 {
  color: #ff8029;
  font-family: Title;
  font-size: 315%;
  margin: 0;
}

article {
	font-size: 200%;
  text-align: left;
}

section {
  margin-bottom: 5%;
}

buttons {
  display: block;
}
