.Colore {
  color: #0053a1;
}

a:link, a:visited, a:hover, a:active {
  color: #0053a1 !important;
  text-decoration: underline;
}

.listStyle{
  color: #0053a1;
  margin-bottom:0px;
}

.listStyle p{
  color: black;
	padding:0px;
  margin:0px;
}

.BG {
	background-color: #E3E4F4;
	border: 2px solid #E3E4F4;
}
