.Colore {
  color: #1ea538;
}

a:link, a:visited, a:hover, a:active {
  color: #1ea538 !important;
}

.listStyle{
  color: #1ea538;
  margin-bottom:0px;
}

.listStyle p{
    color: black;
	padding:0px;
    margin:0px;
}


